# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Spark
spark-warehouse/

# Processed data
data/processed/*

# Logs
logs/

# Generated analytics output
analytics_output.txt

# OS files
Thumbs.db
.DS_Store